.botao:hover{
      -webkit-transform: scale(1.4);
}
.botao{
display: inline-block;
  background-color: #0074d9;
  font-size: 1px;
  padding: 1px;
  width: 60px;
  height: 60px;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  animation: roll 9s infinite;
  transform: rotate(80deg);
}

li{
    -webkit-transform: scale(1.1);

}
.lia:hover{
  transition-delay: 1s;
    -webkit-transform: scale(1.3);
}
.a:hover{
     transform: scale(1.1);
}
a:link{
text-decoration:none;
}
a:hover {
text-decoration: none;
color: red;
}
.a{
font-family: Arial;
 transition: transform .3s;
}
a1{
    color: blue;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.parallax {
/* defina o background como fixo e posicione a imagem */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.ex1 {
   background: white;
   width: 400px;
   height: 500px;
   overflow: scroll;
}
::-webkit-scrollbar {
     width: 9px;
     height: 5px;
}
::-webkit-scrollbar-track {
     background: black;
}
::-webkit-scrollbar-thumb {
     margin: 10px;
     background: blue;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(125, 128, 255);
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 15px;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{

  display: block;
  width: 200px;
  height: 32px;
  position: absolute;
  top: -7px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 150px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
}

#menu
{
  position: absolute;
  width: 1200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 1.5s cubic-bezier(0.01,0.2,0.1,1.5);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}