<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barganha</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/media/post/style.css">
        <link rel="sortcut icon" href="/media/post/b.ico">
</head>
<body style="background:#DCDCDC;">
<nav class="navbar navbar-expand-lg navbar-dark" style="background:black;">
      <div><img src="/media/post/b.png" style="width:60px;"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href='index/' style="color:white; margin:5px;">Inicio<span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
          <a class="nav-link" href='list_user/' style="color:white; margin:5px;">Meus<span class="sr-only"></span></a>
      </li>
    </ul>
    </div>
<a href="logout/"><button class="btn btn-danger" style="margin:10px; border-radius:30px 20px">Sair</button></a>
</nav>
 {% for a in lista %}
 <div class="col">
     <p></p><br> </div>
     <div class="container shadow-lg p-3 mb-5 bg-red rounded t-10" align="center" style="width:90%; height: 100%; background: white;">
           <img src="{{a.imagem.url}}" style="width: 200px; height:180px; margin: 10px;" align="left">
         <h4>{{a.nome}}</h4></a>
     <h6><strong>Dono :</strong>{{a.user.username}}</h6>
     <h6><strong>E-mail :</strong>{{a.user.email}} </h6>
     <h6><strong>Descrição : </strong>{{a.sobre}}</h6>
     <h6><strong>Cidade : </strong>{{a.cidade}}</h6>
      <h6><strong>Estado :</strong>{{a.estado}}</h6>
               <h6><strong>Telefone :</strong>{{a.fone}}</h6>
            <h6><strong>Valor :</strong>{{a.valor}}R$</h6>

         </p>

     </div>
        {% endfor %}
<div style="background:#1C1C1C; height:100px; margin-top:200px;">
    <hr color="blue" style="height: 1px;">
    <p align="center">Projeto Integrador 2019</p>
       <p> <h6 style="color:white">&nbsp;&nbsp;&nbsp;&nbsp;@Douglas Ricarte &nbsp; @Mike Brasil &nbsp; @Alexandre Luna &nbsp; @Daniela Karla &nbsp; @Luiz Bronzeado &nbsp; @Guilherme Marques</h6>
    </p>

</div>
</body>
</html>