<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barganha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/media/post/style.css">
        <link rel="sortcut icon" href="media/post/b.ico">
</head>
<body style="background:#white; color: white;">
<nav class="navbar navbar-expand-lg navbar-dark" style="background:black;">
    <div ><img src="/media/post/b.png" style="width:60px;"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active lia">
          <a class="nav-link" href='index' style="color:white; margin:5px; margin-left:10px;">Inicio<span class="sr-only"></span></a>
      </li>
        <li class="nav-item active lia">
          <a class="nav-link" href='list_user' style="color:white; margin:5px;">Meus<span class="sr-only"></span></a>
      </li>
        <li class="nav-item active lia">
          <a class="nav-link" href='propostas' style="color:white; margin:5px;">Propostas<span class="sr-only"></span></a>
      </li>
    </ul>
    </div>
    </div>

<a href="new_obejet"><button class="btn btn-primary" style="margin:10px; border-radius:30px 20px;">Postar</button></a>
    <a href="logout"><button class="btn btn-danger" style="border-radius:30px 20px;">Sair</button></a>

</nav>
<div class="col container-fluid parallax" style="background-image:url('media/post/neg.png'); height: 500px;">
         <form class="form-inline row" action="pesquisar" method="post">{%csrf_token%}
    <input class="form-control col-sm-4 col-md-6" type="text" name="pesquisar" placeholder="O que você procura ?" aria-label="Pesquisar" style="width:800px; margin-top:120px; height:60px;border-radius:10px;margin-left:290px; font-family: Arial;">
             <div style="margin-top:120px;"> <button class="btn btn-primary" type="submit" style="color: white; padding: 1px;width:90px;height: 50px; border-radius: 30px 20px; margin-left:5px;">Buscar</button></div>
    </form>
     <nav role="navigation">
        <div id="menuToggle">
          <input style="margin-left:560px;" type="checkbox" />
            <h3 style="color:white; width:220px; background:rgba(0, 0, 0, 0.2); margin-left:555px; border-radius:25px;">&nbsp; Categorias <img src="media/post/menu.png" style="width:25px; margin:10px;"></h3>
            <div align="center"><span></span></div>

          <ul id="menu">
              <div class="row">
                  <li style="margin-left:300px;"></li>
              <li style="margin:40px; margin-top:-15px;"><div style="width:40px; margin-left:30px;"><a class="btn botao" href='Tecnologia' style="color:white; margin:15px;border-radius: 100px; background:white;"><img style="width:35px; margin-top:10px;" src="media/post/pc1.png"></a>Tecnologia</div></li>
              <li style="margin:40px; margin-top:-15px;"><div style="width:40px;margin-left:30px;"><a class="btn botao" href='casa' style="color:white;margin:15px; border-radius: 100px; background:white;"> <img style="width:35px; margin-top:6px;" src="media/post/casa.png"></a><p style="margin-left:25px;">Casa</p></div></li>
              <li style="margin:40px; margin-top:-15px;"><div style="width:40px;margin-left:30px;"><a class="btn botao" href='lazer' style="color:white;margin:15px; border-radius: 100px; background:white;"><img style="width:35px; margin-top:10px;" src="media/post/lazer.png"></a><p style="margin-left:25px;">Lazer</p></div></li>
                  <li style="margin:40px; margin-top:-15px;"><div style="width:40px;margin-left:30px;"><a class="btn botao" href='livro' style="color:white;margin:15px; border-radius: 100px; background:white;"><img style="width:35px; margin-top:10px;" src="media/post/livro.png"></a><p style="margin-left:25px;">Livros</p></div></li>

              </div>
          </ul>
        </div>
      </nav>
</div>

<div class="container row" style="margin-left: 90px; margin-top: -15px;">
    {% for a in post %}
       <div class="container shadow-lg p-3 mb-5 bg-red rounded a"style="width:200px;; height:290px; background: white; margin:11px; margin-top:60px; border-radius:50px;">
            <div style="width:200px;"><img src="{{a.imagem.url}}" style="width:150px; height:150px;"></div>
           <a href="obejeto/{{a.id}}"><h4>{{a.nome}}</h4></a>
           <p>
           <h6 style="color:black;">Dono</h6><h6 style="color:black">{{a.user.username}}</h6>
           </p>
              <img src="media/post/prat.png" style="margin-top:-50px; margin-left:-15px;">
       </div>
      {% endfor %}
  </div>
</body>
<div style="background:#1C1C1C; height:100px; margin-top:200px;">
    <hr color="blue" style="height: 1px;">
    <p align="center">Projeto Integrador 2019</p>
       <p> <h6 style="color:white;">&nbsp;&nbsp;&nbsp;&nbsp;@Douglas Ricarte &nbsp; @Mike Brasil &nbsp; @Alexandre Luna &nbsp; @Daniela Karla &nbsp; @Luiz Bronzeado &nbsp; @Guilherme Marques</h6>
    </p>

</div>
</html>