<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="sortcut icon" href="media/post/b.ico">
    <title>Log in</title>
</head>

<body style="background-image: url('media/post/emp.png'); color:white;">
<div class="container div1 shadow-lg p-3 mb-5 rounded" style="width:400px; padding: 20px; margin-top: 150px; background:black">
<form action="submit", method="POST">{%csrf_token%}

    <div class="row"><div><img src="/media/post/b.png" style="width:60px;"></div>
        <h2 style="margin-left:-10px; margin-top:15px;">arganha</h2></div>
        <div class="form-group">
        <label for="username">Usuário</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Nome de log in">
        </div>
    <div class="form-group">
    <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
    </div>
    <div>
    {% for message in  messages %}
    <div class="alert alert-danger mt-2">
        <strong>Erro!</strong>{{ message }}
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary" style="margin-right:10px; ;">Log in</button>

        <a href="registrar" style="color: white; text-decoration: none;">Cadastre-se</a>
    </div>
</form>
</div>
</body>
</html>
</body>
</html>