<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barganha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/media/post/style.css">
        <link rel="sortcut icon" href="/media/post/b.ico">

</head>
<body style="background:#DCDCDC;">
<nav class="navbar navbar-expand-lg navbar-dark" style="background:black;">
      <div><img src="/media/post/b.png" style="width:60px;"></div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href='index' style="color:white;">Inicio<span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
          <a class="nav-link" href='list_user' style="color:white;">Meus<span class="sr-only"></span></a>
      </li>
    </ul>
    </div>
<a href="logout"><button class="btn btn-danger" style="margin:10px; border-radius:30px 20px">Sair</button></a>
</nav>

<div class="container-fluid">
    <div class=" border container shadow-lg p-3 mb-5 bg-red rounded t-10 row" style="width:60%; height: 100%; background:white; margin-top: 30px; margin-left:300px;">
     <img src="{{obejeto.imagem.url}}" style="width: 300px; height:300px; margin:20px;" >
           <p></p>
     <div>
          <p> <h4>{{obejeto.nome}}</h4></a>
     <h6><strong>Dono :</strong>{{obejeto.user.username}}</h6>
     <h6><strong>E-mail :</strong>{{obejeto.user.email}} </h6>
     <h6><strong>Descrição: </strong>{{obejeto.sobre}}</h6>
     <h6><strong>Cidade : </strong>{{obejeto.cidade}}</h6>
      <h6><strong>Estado :</strong>{{obejeto.estado}}</h6>
               <h6><strong>Telefone :</strong>{{obejeto.fone}}</h6>
         <h6><strong>Valor :</strong>{{obejeto.valor}}R$</h6>

         </p>
      {% if request.user != obejeto.user %}
         <form method="post" action="valor">{%csrf_token%}
         <div>
             <div style="width: 300px; margin:20px;" class="row" align="center">
                 <div><input type="text" class="form-control" name="valor" placeholder="Valor estimado"></div>
                 <div  style="margin-left: 10px;"><button type="valor" class="btn btn-primary" value="Avaliar">Avaliar</button></div>
             </div>
         </div>
         </form>
         <a href="proposta/"><button class="btn btn-primary" style="margin:10px;">Proposta</button></a>
         {% endif %}
         <br>
        {% if request.user == obejeto.user %}
         <a href="delete"><button class="btn btn-danger">Deletar</button>
     </a>
     {% endif %}
     </div>
     </div>
     </div>

  </div>
<div style="background:#1C1C1C; height:100px; margin-top:200px;">
    <hr color="blue" style="height: 1px;">
    <p align="center">Projeto Integrador 2019</p>
       <p> <h6 style="color:white;">&nbsp;&nbsp;&nbsp;&nbsp;@Douglas Ricarte &nbsp; @Mike Brasil &nbsp; @Alexandre Luna &nbsp; @Daniela Karla &nbsp; @Luiz Bronzeado &nbsp; @Guilherme Marques</h6>
    </p>

</div>
</body>
</html>