<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oferta</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barganha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="/media/post/style.css">
         <link rel="sortcut icon" href="/media/post/b.ico">
</head>
<body style="background:#DCDCDC;">
<nav class="navbar navbar-expand-lg navbar-dark" style="background:black;">
      <div><img src="/media/post/b.png" style="width:60px;"></div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href='index' style="color:white;  margin:5px;">Inicio<span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
          <a class="nav-link" href='list_user' style="color:white;  margin:5px;">Meus<span class="sr-only"></span></a>
      </li>
    </ul>


    </div>
<a href="logout"><button class="btn btn-danger" style="margin:10px; border-radius:30px 20px;">Sair</button></a>
</nav>
                <h3 align="center">Suas barganhas</h3>
              <div style="margin:50px;" class="row">
                {% for a in proposta %}
                  <div align="center" class="container shadow-lg p-3 mb-5 bg-red rounded"style="width:300px; height:450px; background: white; margin:10px;">
                      <div style="margin:1px;"><a class="btn btn-primary" href="barganha/{{a.id}}">Barganha</a>
            <a  href="deletar/{{a.id}}/" class="btn btn-danger">Finalizar</a>
                <h6>{{a.data}}</h6>
                          <p>  {{a.nome1}} <img src="media/post/troca.png" style="width:15px;">  {{a.nome2}} </p>
                          <button style="margin-left:-75px; width:30px; height:30px;" class="btn" onclick='parent.location="javascript:location.reload()"'><img style="width:12px; margin-top:-12px; margin-left:-3px;" src="media/post/atualiza.png"></button> Atualize as mensagens
                    <textarea style="margin-top:10px;color:black; font-size:20px;" class="form-control rounded-0"  rows="7" disabled>{{a.conversa}}</textarea>
                    <form action="conversa/{{a.id}}" method="post">{%csrf_token%}
                        <input class="form-control" style="margin-top:10px; margin-left:-70px; width:200px;" type="text" placeholder="" name="conversa">
                        <button style="margin-left:200px; margin-top:-65px; border-radius:50px;" class="btn btn-success">Enviar</button>
                    </form>
                    <br>

                </div></div>
                {% endfor %}
              </div>

</body>


<div style="background:#1C1C1C; height:100px; margin-top:408px;">
    <hr color="blue" style="height: 1px;">
    <p align="center">Projeto Integrador 2019</p>
       <p> <h6 style="color:white;">&nbsp;&nbsp;&nbsp;&nbsp;@Douglas Ricarte &nbsp; @Mike Brasil &nbsp; @Alexandre Luna &nbsp; @Daniela Karla &nbsp; @Luiz Bronzeado &nbsp; @Guilherme Marques</h6>
    </p>

</div>
</html>