<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postar</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="sortcut icon" href="/media/post/b.ico">
</head>
<body style="background:#F0F8FF;">
 <div class="container border shadow-lg p-3 mb-5 bg-black rounded" style="width: 500px; margin-top:50px; background: white;">
                <h1>Cadastrar produto</h1>
                <form enctype="multipart/form-data" action="postar", method="post" class="form-group">{%csrf_token%}
                    <div>
                        <label for="nome">Nome do produto</label>
                    <input type="text" class="form-control" name="nome">
                        <p style="color:silver;">Até 20 caracteres</p>
                    </div>
                <div>
                    <label for="Deescrição">Descrição</label>
                    <textarea name="descricao" type="text" class="form-control"></textarea>
                </div>
                <div>
                    <label for="Cidade">Cidade</label>
                    <input name="cidade"  type="cidade" class="form-control">
                </div>
                    <div>
                     <label for="estado">Estado</label>
                         <select class="custom-select" name="estado">
            <option value="ACRE">Acre</option>
            <option value="ALAGOAS">Alagoas</option>
            <option value="AMAPÁ">Amapá</option>
                             <option value="AMAZONAS">Amazonas</option>
            <option value="BAHIA">Bahia</option>
            <option value="CEARÁ">Ceará</option>
                              <option value="DISTRITO FEDERAL">Destrito Federal</option>
            <option value="ESPIRITO SANTO">Espírito Santo</option>
            <option value="Goiás">Goias</option>
                              <option value="MARANHÃO">Maranhão</option>
            <option value="MATO GROSSO">Mato Grosso</option>
            <option value="MATO GROSSO DO SUL">Mato Grosso do Sul</option>
                              <option value="MINAS GERAIS">Minas Gerais</option>

                             <option value="PARÁ">Pará</option>
            <option value="PARAÍBA">Paraiba</option>
                              <option value="PARANÁ">Paraná</option>
            <option value="PERNAMBUCO">Pernambuco</option>
            <option value="PIAUÍ">Piauí</option>
                              <option value="RIO DE JANEIRO">Rio de Janeiro</option>
            <option value="RIO GRANDE DO NORTE">Rio Grande do Norte</option>
                             <option value="RIO GRANDE DO SUL">Rio Grande do Sul</option>
                              <option value="RPNDÔNIA">Rondônia</option>
            <option value="RORAIMA">Roraima</option>
                              <option value="SANTA CATARINA">Santa Catarina</option>
                              <option value="SÃO PAULO">São Paulo</option>
            <option value="Sergipe">Sergipe</option>
                              <option value="TOCANTINS">Tocantins</option>
                         </select>
                </div>
                     <div>
                    <label for="file">Foto</label>
                         <input type="file" class="form-control-file border border-primary" name="file" accept="image/*">
                    <br>
                </div>
                    <div>
                    <label for="fone">Telefone</label>
                         <input type="text" class="form-control border" name="fone">
                    <br>
                </div>
                     <div>
                    <label for="valor">Valor estimado</label>
                    <input name="valor"  type="number" class="form-control">
                    <br>
                  <label for="categoria">Categoria</label>
                         <select class="custom-select" name="select">
            <option value="Tecnologia">Tecnologia</option>
            <option value="casa">Casa</option>
            <option value="Lazer">Lazer</option>
                               <option value="Livro">Livro</option>
                     </select>
                     </div>
                    <br>
                    <button type="submit" class="btn btn-primary" value="salvar">Postar</button>
                </form>
            </div>
        </body>
    </html>