<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barganha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/media/post/style.css">
        <link rel="sortcut icon" href="/media/post/b.ico">
</head>
<body style="background:#DCDCDC; color: black;">
<nav class="navbar navbar-expand-lg navbar-dark" style="background:black">
        <div><img src="/media/post/b.png" style="width:60px;"></div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href='index/' style="color:white; margin:5px">Inicio<span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
          <a class="nav-link" href='list_user' style="color:white; margin: 5px;">Meus<span class="sr-only"></span></a>
      </li>
    </ul>
    </div>
<a href="logout"><button class="btn btn-danger" style="margin: 10px; border-radius: 30px 20px;">Sair</button></a>
</nav>
 <h4 align="center">ESCOLHA SUA OFERTA</h4>
    <div>
    {% for a in proposta %}
        {% if a.user != request.user%}
        <div class="container shadow-lg p-3 mb-5 bg-red rounded"style="width:300px;; height:300px; background: white; margin:10px; margin-top:30px; margin-left:150px;">
            <div style="width:200px;"><img src="{{a.imagem.url}}" style="width:200px; height:150px;"></div>
           <h4>{{a.nome}}</h4>
           <p>
           <h6>Dono</h6>{{a.user.username}}
           </p>
        </div>
      {% endif %}
        {% endfor %}
    <div>

        <div class="col ex1" style="width:400px; margin-left:800px; margin-top:-350px">

        {% for a in proposta %}
        {% if a.user == request.user%}

        <div class="container shadow-lg p-3 mb-5 bg-red rounded "style="width:300px;; height:300px; background: white; margin:15px;">
            <div style="width:200px;"><img src="{{a.imagem.url}}" style="width:200px; height:150px;"></div>
           <a href="obejeto/{{a.id}}"><h4>{{a.nome}}</h4></a>
           <p>
           <h6>Dono</h6>{{a.user.username}}
           </p>
        </div>
      {% endif %}
        {% endfor %}
    </div>
<div style="background:#1C1C1C; height:100px; margin-top:200px;">
    <hr color="blue" style="height: 1px;">
    <p align="center">Projeto Integrador 2019</p>
       <p> <h6 style="color:white">&nbsp;&nbsp;&nbsp;&nbsp;@Douglas Ricarte &nbsp; @Mike Brasil &nbsp; @Alexandre Luna &nbsp; @Daniela Karla &nbsp; @Luiz Bronzeado &nbsp; @Guilherme Marques</h6>
    </p>

</div>
</body>
</html>