<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="sortcut icon" href="/media/post/b.ico">
</head>
<body style="background:#F0F8FF">
         <div class="container border shadow-lg p-3 mb-5 bg-black rounded" style="width: 500px; margin-top:50px; background: white;">
                <h1>Cadastrar usuario</h1>
                <form action="novo", method="POST" class="form-group">{%csrf_token%}
                    <div>
                        <label for="nome">Nome de usuario</label>
                    <input type="text" class="form-control" name="nome">
                    </div>
                <div>
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control"></div>
                <div>
                    <label for="senha">Senha</label>
                    <input name="senha" id="senha" type="password" class="form-control">
                    <br>
                </div>
                    <button type="submit" class="btn btn-primary" value="salvar">Cadastar</button>
                </form>
         {% for message in  messages %}
    <div class="alert alert-danger mt-2">
        <strong>Erro!</strong>{{ message }}
            {% endfor %}
    </div>
         </div>
</body>
</html>